﻿@{
    ViewData["Title"] = "Stores";
}

@model StoreViewModel

<div class="text-center">
    <h2>Stores</h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Operation Mode</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.Stores)
                {
                    <tr>
                        <td>@item.StoreId</td>
                        <td>@item.Name</td>
                        <td>@item.Address</td>
                        <td>@item.OperatingMode</td>
                        <td>
                            <a class="btn btn-sm btn-info" asp-action="Products" asp-route-id="@item.StoreId">Products</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
