﻿
@{
    ViewData["Title"] = "Products";
}

@model ProductsViewModel

<h2>Store: @Model.StoreName</h2>

<div class="text-center">
    <h2>Products</h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.Products)
                {
                    <tr>
                        <td>@item.ProductId</td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>
                            <a class="btn btn-sm btn-primary" asp-action="EditProduct" asp-route-id="@item.ProductId">Edit</a>
                            <a class="btn btn-sm btn-danger" asp-action="DeleteProduct" asp-route-id="@item.ProductId">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@if (!Model.isEditing)
{
    <div id="CreateProductForm">
        @using (Html.BeginForm("CreateProduct", "Home", FormMethod.Post))
        {
            <p>
                <label>Name:</label>
                <input type="text" name="Name" />
            </p>

            <p>
                <label>Description:</label>
                <input type="text" name="Description" />
            </p>

            <p>
                <input type="text" name="StoreId" value="@Model.StoreId" hidden />
            </p>

            <p>
                <input type="submit" value="Create" />
            </p>
        }
    </div>

}
else
{
    <div id="UpdateProductForm">
        @using (Html.BeginForm("UpdateProduct", "Home", FormMethod.Post))
        {
             <p>
                <label>Id: @Model.Product.ProductId</label>
            </p>

            <p>
                <label>Name:</label>
                <input type="text" name="Name" value="@Model.Product.Name" />
            </p>

            <p>
                <label>Description:</label>
                <input type="text" name="Description" value="@Model.Product.Description" />
            </p>

            <p>
                <input type="text" name="StoreId" value="@Model.Product.StoreId" hidden />
            </p>

            <p>
                <input type="text" name="ProductId" value="@Model.Product.ProductId" hidden/>
            </p>

            <p>
                <input type="submit" value="Update" />
                <a asp-action="Products" asp-route-id="@Model.StoreId">
                <input type="button" value="Cancel" />
                </a>
            </p>
        }
    </div>
}
